[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "~=3.0"
aio-pika = "~=6.0"
flask = "~=1.0"
jsonschema = "~=3.0"
pydantic = "~=1.0"
requests = "~=2.0"
kombu = "~=5.0"
httpx = "~=0.0"
docstring-parser = "~=0.10"
openapi-ui-bundles = "~=0.0"

[dev-packages]
aioresponses = "~=0.0"
asynctest = "~=0.12"
codecov = "~=2.0"
flake8 = "~=3.0"
pre-commit = "~=2.0"
pytest = "~=6.0"
pytest-mock = "~=3.0"
pytest-aiohttp = "~=0.0"
pytest-cov = "~=2.0"
responses = "~=0.0"
respx = "~=0.0"
